@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  text-align: center;
}

.background-image {
  background-image: url('background_image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  color: black;
  font-size: 36px;
  margin-bottom: 20px;
}

.play-button {
  background-color: #5E63BA;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #8286c9;
}
